.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.logo img {
  width: 100%;
  max-width: 250px;
}
.menu {
  display: flex;
  gap: 30px;
  a {
    color: wheat;
    font-size: 17px;
    font-weight: 300;
  }
  &:hover {
    color: #fff;
  }
}
