.marquee {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;

  h2 {
    color: #eee;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    animation-name: moving 3s;
    background-color: rgba(98, 117, 161, 0.37);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(43.5px);
  }
}
