.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.leftContent {
  text-align: right;
  img {
    width: 100%;
    max-width: 250px;
  }
}

.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  p {
    color: #f4f5f6;
    font-weight: 300;
    letter-spacing: 0.2em;
    max-width: 400px;
  }
}
.blur {
  width: 244px;
  height: 244px;
  background-color: #306fea;
  filter: blur(200px);
  position: absolute;
  right: 0;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-wrap: wrap;
  }
  .rightContent p {
    font-size: 16px;
    font-weight: 300;
  }
}
