.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.leftContent {
  gap: 10px;
  img {
    width: 100%;
    max-width: 250px;
  }
}

.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  p {
    color: #f4f5f6;
    width: 100%;
    max-width: 400px;
  }
}
.blur {
  width: 244px;
  height: 244px;
  background-color: #306fea;
  filter: blur(200px);
  position: absolute;
  right: 0;
}
