.process__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.process__card {
  display: flex;
  gap: 20px;
  padding: 40px 0px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .process__section,
  .process__card {
    flex-wrap: wrap;
  }
}
