.card-section {
  display: flex;
  gap: 10px;
}

.btn-div {
  padding: 20px 0px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  .card-section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}
