---
import "../scss/pages/index.scss";
import Layout from "../layouts/Layout.astro";
import MissionVision from "../components/About/MissionVision.astro";
import TeamSection from "../components/About/TeamSection.astro";
import ContactCta from "../components/About/ContactCta.astro";
import Hero from "../sections/Hero.astro";
import Tags from "../components/Tags.svelte";
import Sections from "../layouts/Sections.astro";
import LogoSlider from "../components/LogoSlider.astro";
---

<Layout title="Pyonet Agency">
  <main class="about-page">
    <Hero />
    <Tags />
    <MissionVision />
    <div class="blur"></div>
    <Sections>
      <LogoSlider />
    </Sections>
    <TeamSection />
    <ContactCta />
  </main>
</Layout>

<style lang="scss">
  .about-page {
    position: relative;
    padding: 4rem 2rem;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @media screen and (max-width: 768px) {
      padding: 0;
    }

    .blur {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      background: rgba(190, 12, 217, 0.356);
      filter: blur(70px);
      z-index: -1;
    }
  }
</style>
