---
import "../scss/pages/index.scss";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.svelte";
import Title from "../components/Title.astro";
import Header from "../components/Header.astro";

import "../scss/sections/hero.scss";
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <Header />
  </main>
</Layout>
