---
import ContactForm from '../components/ContactForm.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="contact">
    <ContactForm />
  </main>
</Layout>

<style>
  .contact {
    padding-top: 80px;
  }
  @media (max-width: 768px) {
    .contact {
      padding-top: 50px;
    }
  }
</style>
