---
import "../scss/pages/index.scss";
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Header from "../components/Header.astro";
import Sections from "../layouts/Sections.astro";
import Tags from "../components/Tags.svelte";
import Grid from "../components/Grid.astro";
import Hero from "../sections/Hero.astro";
import Services from "../components/Services.astro";

let services = [
  {
    title: "Web Design",
    description:
      "We are constantly rethinking the future by creating the next generation of products, brands, and services from a hybrid perspective.",
  },
  {
    title: "Web Development",
    description:
      "We deliver robust web solutions that empower businesses to grow online.",
  },
  {
    title: "Shopify",
    description:
      "We create customized Shopify stores that drive sales and engagement.",
  },
  {
    title: "UI/UX Design",
    description:
      "Our UI/UX designs are user-centered and crafted to enhance user experience.",
  },
];
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <Header />
    <Sections>
      <Hero />
    </Sections>
    <Tags />
    <Sections>
      <Title title="Our Experience" subtitle="& Expertise " />
      <Grid />
    </Sections>
    <Title title="The best" subtitle="We Do " />
    {
      services.map((service) => (
        <Services title={service.title} description={service.description} />
      ))
    }
  </main>
</Layout>
