---
import "../scss/pages/index.scss";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from "../components/Button.svelte";
import Title from "../components/Title.astro";
import Header from "../components/Header.astro";
import Sections from "../layouts/Sections.astro";
import "../scss/sections/hero.scss";
import Tags from "../components/Tags.svelte";

---

<Layout title="Welcome to Astro.">
	<main class="container">
		<Header />
		<Sections>
			<div class="hero">
				<div class="leftContent">
				<Title title="WE DEVELOP to" subtitle="MAXIMIZE"/>
				<img src="/abstract-technology-hologram-sphere-sci-fi-neon-vector-30224600 1.png" alt="tech">
				<span class="blur"></span>
			</div>
			<div class="rightContent">
				<p>We are constantly rethinking the future by creating the next generation of products, brands and services from a hybrid perspective. </p>
				<Title title="YOUR BRAND" subtitle="to GROWTH"/>
			</div>
			</div>
		</Sections>
		<div class="btn-div">
			<Button title="click me"/>
		</div>
		

		<Tags/>
		
		<Sections>
			<Title title="Our Experience" subtitle="& Expertise "/>
		</Sections>
		
	</main>
</Layout>


