---
import '../scss/pages/index.scss';
import '../scss/sections/process.scss';
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Header from '../components/Header.astro';
import Sections from '../layouts/Sections.astro';
import Tags from '../components/Tags.svelte';
import Grid from '../components/Grid.astro';
import Hero from '../sections/Hero.astro';
import Services from '../components/Services.astro';
import Button from '../components/Button.svelte';
import Card from '../components/Card.astro';
import Projects from '../components/projects.astro';
import Testimonial from '../components/Testimonial.svelte';

let services = [
  {
    title: 'Web Design',
    description:
      'We are constantly rethinking the future by creating the next generation of products, brands, and services from a hybrid perspective.',
  },
  {
    title: 'Web Development',
    description:
      'We deliver robust web solutions that empower businesses to grow online.',
  },
  {
    title: 'Shopify',
    description:
      'We create customized Shopify stores that drive sales and engagement.',
  },
  {
    title: 'UI/UX Design',
    description:
      'Our UI/UX designs are user-centered and crafted to enhance user experience.',
  },
];

let cards = [
  {
    title: 'Research & Wireframing',
    body: 'We are constantly rethinking the future by creating the next generation of products, brands and services from a hybrid perspective.',
  },
  {
    title: 'Design & THinking',
    body: 'We are constantly rethinking the future by creating the next generation of products, brands and services from a hybrid perspective.',
  },
  {
    title: 'Develop & Launch',
    body: 'We are constantly rethinking the future by creating the next generation of products, brands and services from a hybrid perspective.',
  },
];
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <Header />
    <Sections>
      <Hero />
    </Sections>
    <Tags />
    <Sections>
      <Title title="Our Experience" subtitle="& Expertise " />
      <Grid />
    </Sections>
    <Title title="The best" subtitle="We Do " />
    <Sections>
      <div class="blur"></div>
      {
        services.map((service) => (
          <Services
            href="#"
            title={service.title}
            description={service.description}
          />
        ))
      }
    </Sections>
    <Sections>
      <div class="process__section">
        <Title title="Our Solution" subtitle="Process" />
        <Button title="Learn More" />
      </div>

      <div class="process__card">
        <div class="box__image">
          <img src="/images/pngegg (100) 1 (1).png" width="450" alt="" />
        </div>
        {
          cards.map((card) => (
            <Card href="#" title={card.title} body={card.body} />
          ))
        }
        <div class="blur"></div>
      </div>
    </Sections>
    <Sections>
      <div class="process__section">
        <Title title="Our best" subtitle="Works" />
        <Button title="Learn More" />
      </div>
      <Projects />
    </Sections>
    <Sections>
      <div class="process__section">
        <Title title="What customer" subtitle="say about us!" />
      </div>
      <Testimonial />
    </Sections>
  </main>
</Layout>
