---
import "../scss/components/grid.scss";
---

<div class="parent">
  <div class="div1">
    <h1>20+</h1>
    <p>World wide clients</p>
  </div>
  <div class="div2">
    <h1>52+</h1>
    <p>Successfully projects done</p>
  </div>
  <div class="div3">
    <img src="/Vector (5).svg" alt="" />
  </div>
  <div class="div4">
    <h1>34+</h1>
    <p>Team members</p>
  </div>
  <div class="div5">
    <h1>x5</h1>
    <p>Profit increase after meet with us</p>
  </div>
  <img class="block" src="/pngegg (100) 3.png" alt="png" />
  <span class="blur1"></span>
  <span class="blur2"></span>
</div>
