---
import Button from './Button.svelte';
import MobileHeader from './MobileHeader.svelte';
---

<header class="main-header">
  <div class="nav-container">
    <h1 class="logo">PyOnet</h1>
    <nav class="desktop-nav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/service">Services</a>
      <a href="/">Portfolio</a>
      <a href="/contact">Contact</a>
    </nav>
    <div>
      <Button title="Contact" />
    </div>
    <div class="mobile-toggle">
      <MobileHeader client:load />
    </div>
  </div>
</header>

<style lang="scss">
  .main-header {
    position: sticky;
    top: 10px;
    width: 100%;
    padding: 0.3rem 1rem;
    border-radius: 15px;
    background: rgba(145, 138, 138, 0.4);
    backdrop-filter: blur(10px);
    z-index: 1000;
    color: white;

    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      margin: auto;
    }

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .desktop-nav {
      display: flex;
      gap: 2rem;

      a {
        position: relative;
        color: white;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          background: linear-gradient(90deg, #ff4d4d, #ff944d);
          left: 0;
          bottom: -5px;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }

    .mobile-toggle {
      display: none;
    }

    @media (max-width: 768px) {
      .desktop-nav {
        display: none;
      }
      .mobile-toggle {
        display: block;
      }
    }
  }
</style>
