---
import "../scss/components/projects.scss";
---

<div class="container projects">

    <div class="circle"></div>
    <div class="details first">
      <div>
        <div class="info first">
          <img src="/images/logo.svg" />
          <h1>Your Brand
            To Growth</h1>
          <div>
            <h1>Project Start From</h1>
            <p>€150 / Page</p>
          </div>
        </div>
        
      </div>
      <div class="info">
        <div>
          <svg
            width="29"
            height="22"
            viewBox="0 0 29 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.5 3L6.59435 3.25497C7.56306 5.87288 9.62712 7.93694 12.245 8.90565L12.5 9L12.245 9.09435C9.62712 10.0631 7.56306 12.1271 6.59435 14.745L6.5 15L6.40565 14.745C5.43694 12.1271 3.37288 10.0631 0.754973 9.09435L0.5 9L0.754973 8.90565C3.37288 7.93694 5.43694 5.87288 6.40565 3.25497L6.5 3Z"
              fill="#FFB367"></path>
            <path
              d="M1.80966 9C3.85775 8.01186 5.51186 6.35775 6.5 4.30966C7.48814 6.35775 9.14225 8.01186 11.1903 9C9.14225 9.98814 7.48814 11.6422 6.5 13.6903C5.51186 11.6422 3.85775 9.98814 1.80966 9Z"
              stroke="white"
              stroke-opacity="0.05"></path>
            <mask
              id="path-3-outside-1_2_966"
              maskUnits="userSpaceOnUse"
              x="9.93103"
              y="0.148865"
              width="19"
              height="22"
              fill="black"
            >
              <rect fill="white" x="9.93103" y="0.148865" width="19" height="22"
              ></rect>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M20.3518 1.14886H15.9044V1.14889H10.931C10.931 3.89562 13.1577 6.12228 15.9044 6.12228C15.9103 6.12228 15.9162 6.12227 15.922 6.12225H20.3518C21.6987 6.12225 22.7906 7.21417 22.7906 8.56113C22.7906 9.90808 21.6987 11 20.3518 11H17.4519C13.9176 11 11.0524 13.8651 11.0524 17.3994V20.8511H16.0258V17.3994C16.0258 16.6118 16.6643 15.9734 17.4519 15.9734H20.3518C24.4455 15.9734 27.764 12.6548 27.764 8.56113C27.764 4.6443 24.726 1.43704 20.8778 1.16724C20.8778 1.16113 20.8778 1.15501 20.8778 1.14889H20.3731C20.366 1.14887 20.3589 1.14886 20.3518 1.14886Z"
              ></path>
            </mask>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20.3518 1.14886H15.9044V1.14889H10.931C10.931 3.89562 13.1577 6.12228 15.9044 6.12228C15.9103 6.12228 15.9162 6.12227 15.922 6.12225H20.3518C21.6987 6.12225 22.7906 7.21417 22.7906 8.56113C22.7906 9.90808 21.6987 11 20.3518 11H17.4519C13.9176 11 11.0524 13.8651 11.0524 17.3994V20.8511H16.0258V17.3994C16.0258 16.6118 16.6643 15.9734 17.4519 15.9734H20.3518C24.4455 15.9734 27.764 12.6548 27.764 8.56113C27.764 4.6443 24.726 1.43704 20.8778 1.16724C20.8778 1.16113 20.8778 1.15501 20.8778 1.14889H20.3731C20.366 1.14887 20.3589 1.14886 20.3518 1.14886Z"
              fill="#FAF9FF"></path>
            <path
              d="M15.9044 1.14886V0.148865H14.9044V1.14886H15.9044ZM15.9044 1.14889V2.14889H16.9044V1.14889H15.9044ZM10.931 1.14889V0.148895H9.93103V1.14889H10.931ZM15.922 6.12225V5.12225L15.9185 5.12226L15.922 6.12225ZM11.0524 20.8511H10.0524V21.8511H11.0524V20.8511ZM16.0258 20.8511V21.8511H17.0258V20.8511H16.0258ZM20.8778 1.16724L19.8778 1.16365L19.8744 2.09935L20.8078 2.16479L20.8778 1.16724ZM20.8778 1.14889H21.8778V0.148895H20.8778V1.14889ZM20.3731 1.14889L20.3703 2.14889H20.3731V1.14889ZM15.9044 2.14886H20.3518V0.148865H15.9044V2.14886ZM16.9044 1.14889V1.14886H14.9044V1.14889H16.9044ZM15.9044 0.148895H10.931V2.14889H15.9044V0.148895ZM9.93103 1.14889C9.93103 4.44791 12.6054 7.12228 15.9044 7.12228V5.12228C13.71 5.12228 11.931 3.34334 11.931 1.14889H9.93103ZM15.9044 7.12228C15.9114 7.12228 15.9185 7.12227 15.9255 7.12225L15.9185 5.12226C15.9139 5.12228 15.9092 5.12228 15.9044 5.12228V7.12228ZM20.3518 5.12225H15.922V7.12225H20.3518V5.12225ZM23.7906 8.56113C23.7906 6.66189 22.251 5.12225 20.3518 5.12225V7.12225C21.1464 7.12225 21.7906 7.76646 21.7906 8.56113H23.7906ZM20.3518 12C22.251 12 23.7906 10.4604 23.7906 8.56113H21.7906C21.7906 9.3558 21.1464 10 20.3518 10V12ZM17.4519 12H20.3518V10H17.4519V12ZM12.0524 17.3994C12.0524 14.4174 14.4699 12 17.4519 12V10C13.3653 10 10.0524 13.3128 10.0524 17.3994H12.0524ZM12.0524 20.8511V17.3994H10.0524V20.8511H12.0524ZM16.0258 19.8511H11.0524V21.8511H16.0258V19.8511ZM15.0258 17.3994V20.8511H17.0258V17.3994H15.0258ZM17.4519 14.9734C16.112 14.9734 15.0258 16.0596 15.0258 17.3994H17.0258C17.0258 17.1641 17.2166 16.9734 17.4519 16.9734V14.9734ZM20.3518 14.9734H17.4519V16.9734H20.3518V14.9734ZM26.764 8.56113C26.764 12.1025 23.8932 14.9734 20.3518 14.9734V16.9734C24.9977 16.9734 28.764 13.2071 28.764 8.56113H26.764ZM20.8078 2.16479C24.1359 2.39812 26.764 5.17314 26.764 8.56113H28.764C28.764 4.11545 25.3161 0.475955 20.9477 0.169688L20.8078 2.16479ZM21.8778 1.17083C21.8778 1.16357 21.8778 1.15626 21.8778 1.14889H19.8778C19.8778 1.15377 19.8778 1.15868 19.8778 1.16365L21.8778 1.17083ZM20.8778 0.148895H20.3731V2.14889H20.8778V0.148895ZM20.3518 2.14886C20.3579 2.14886 20.3641 2.14887 20.3703 2.14889L20.3759 0.148899C20.3679 0.148876 20.3598 0.148865 20.3518 0.148865V2.14886Z"
              fill="#4E17D1"
              fill-opacity="0.6"
              mask="url(#path-3-outside-1_2_966)"></path>
          </svg>
          Pyonet
        </div>
        <h1>WE DEVELOP
          TO MAXIMIZE</h1>
      </div>
      <div>
        <div class="info">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
        </div>
        <div class="info">
          <h1>250</h1>
          <p>
            <svg
              width="10"
              height="41"
              viewBox="0 0 10 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4 6.9L0 0.5H10L6 6.9V34.1L10 40.5H0L4 34.1V6.9Z"
                fill="#8963F4"></path>
            </svg>
            <span>Web Development</span>
            <svg
              width="10"
              height="41"
              viewBox="0 0 10 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4 6.9L0 0.5H10L6 6.9V34.1L10 40.5H0L4 34.1V6.9Z"
                fill="#8963F4"></path>
            </svg>
          </p>
        </div>
      </div>
    </div>
    <div class="details second">
      <div>
        <div class="info second">
          <h1>12K</h1>
          <p>happy users</p>
          <div class="avatars">
            <a href="#" class="avatars__item"
              ><img class="avatar" src="/images/p1.png" alt="" /></a
            >
            <a href="#" class="avatars__item"
              ><img class="avatar" src="/images/p2.png" alt="" /></a
            >
            <a href="#" class="avatars__item"
              ><img class="avatar" src="/images/p3.png" alt="" /></a
            >
          </div>
        </div>
        <div class="info third">
          <div>
            <button>
              <svg
                width="26"
                height="25"
                viewBox="-1 0 27 26"
                fill="white"
                xmlns="http://www.w2.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M19.3918 1.67627C20.7503 1.67627 21.0587 1.93002 21.1278 2.28183C21.4795 4.07404 22.8873 5.49179 24.6128 5.83865C24.963 5.90906 25.215 6.21671 25.215 6.57394C25.215 6.93118 24.963 7.23883 24.6128 7.30923C22.8867 7.65622 21.479 9.07205 21.1274 10.8637C21.0583 11.2155 20.7499 11.4692 20.3914 11.4692C20.0329 11.4692 19.7245 11.2155 19.6554 10.8637C19.3038 9.07197 17.8964 7.6562 16.1704 7.30923C15.8202 7.23883 15.5683 6.93118 15.5683 6.57394C15.5683 6.21671 15.8202 5.90906 16.1704 5.83865C17.896 5.49177 19.3041 4.07395 19.6558 2.28183C19.7249 1.93002 20.0333 1.67627 20.3918 1.67627ZM13.8183 6.57394C13.8183 6.37319 13.8421 6.18836 13.8874 6C11.1866 6 8.48581 6 5.78503 6C3.57589 6 1.78503 7.79086 1.78503 10V21C1.78503 23.2091 3.57509 25 5.78423 25C8.96977 25 13.4161 25 16.6513 25C18.8605 25 20.6475 23.2091 20.6475 21V13.2062C20.5631 13.2148 20.4777 13.2192 20.3914 13.2192C19.1963 13.2192 18.1684 12.3734 17.9382 11.2007C17.7198 10.088 16.8415 9.22915 15.8255 9.02491C14.6581 8.79022 13.8183 7.76472 13.8183 6.57394ZM16.5683 17.7537L18.785 20.2639V21C18.785 22.1046 17.8896 23 16.785 23H5.78504C4.68047 23 3.78504 22.1046 3.78504 21V17.2224L6.14571 14.0843C6.15113 14.0771 6.15673 14.07 6.16252 14.0631C6.28046 13.9228 6.41151 13.7953 6.55525 13.6808C6.56009 13.6769 6.565 13.6732 6.56999 13.6695C7.49762 12.9854 8.81105 13.1775 9.51164 14.0778L9.51313 14.0797L12.7067 18.2249L13.4082 17.542L13.4159 17.5345C13.4632 17.4883 13.5425 17.411 13.6426 17.3438C14.5674 16.6708 15.8692 16.8624 16.5683 17.7537Z"
                  fill="white"
                  fill-opacity="-1.9"></path>
                <path
                  d="M15.1839 18.0738L16.1749 18.0623C15.6401 17.3805 14.6417 17.2351 13.9368 17.7481L13.9291 17.7537L13.9213 17.7589C13.8628 17.7982 13.812 17.8465 13.7652 17.8922L13.7647 17.8927L13.757 17.9002L13.7569 17.9003L13.0554 18.5832L12.6532 18.9748L12.3106 18.5301L9.11976 14.3884L9.11827 14.3865L9.11703 14.3849C8.58133 13.6965 7.57455 13.5506 6.8675 14.0714C6.86749 14.0714 6.86747 14.0714 6.86746 14.0714C6.86723 14.0716 6.86703 14.0717 6.86686 14.0718L16.1839 18.0738ZM16.1839 18.0738L16.1935 18.0847L18.285 20.4531V21C18.285 21.8284 17.6135 22.5 16.785 22.5H5.78504C4.95661 22.5 4.28504 21.8284 4.28504 21V17.3895L6.54517 14.385L6.54527 14.3849L6.54552 14.3845C6.64185 14.27 6.74889 14.1658 6.86668 14.072L16.1839 18.0738ZM21.6184 2.18554L21.6184 2.18546C21.5033 1.59918 20.9893 1.17627 20.3918 1.17627C19.7942 1.17627 19.2803 1.59918 19.1652 2.18546L19.1651 2.18554C18.8515 3.7838 17.5944 5.04238 16.0718 5.34845L16.0718 5.34846C15.4881 5.46582 15.0683 5.97862 15.0683 6.57394C15.0683 7.16926 15.4881 7.68207 16.0718 7.79942C17.5951 8.10564 18.8512 9.36238 19.1647 10.96L19.1648 10.96C19.2799 11.5464 19.7939 11.9692 20.3914 11.9692C20.9889 11.9692 21.5028 11.5464 21.618 10.96L21.618 10.96C21.9315 9.36251 23.1879 8.10567 24.7113 7.79942C25.295 7.68209 25.715 7.16936 25.715 6.57394C25.715 5.97852 25.295 5.4658 24.7113 5.34846L24.7113 5.34845C23.1889 5.04241 21.9321 3.78394 21.6184 2.18554ZM14.3735 6.11691L14.5219 5.5H13.8874H13.8716H13.8557H13.8399H13.8241H13.8083H13.7924H13.7766H13.7608H13.745H13.7291H13.7133H13.6975H13.6817H13.6658H13.65H13.6342H13.6184H13.6025H13.5867H13.5709H13.5551H13.5392H13.5234H13.5076H13.4918H13.4759H13.4601H13.4443H13.4285H13.4126H13.3968H13.381H13.3652H13.3493H13.3335H13.3177H13.3019H13.286H13.2702H13.2544H13.2386H13.2227H13.2069H13.1911H13.1753H13.1594H13.1436H13.1278H13.112H13.0961H13.0803H13.0645H13.0487H13.0328H13.017H13.0012H12.9854H12.9695H12.9537H12.9379H12.9221H12.9062H12.8904H12.8746H12.8588H12.8429H12.8271H12.8113H12.7955H12.7796H12.7638H12.748H12.7322H12.7163H12.7005H12.6847H12.6689H12.653H12.6372H12.6214H12.6056H12.5897H12.5739H12.5581H12.5423H12.5264H12.5106H12.4948H12.479H12.4631H12.4473H12.4315H12.4157H12.3998H12.384H12.3682H12.3524H12.3365H12.3207H12.3049H12.2891H12.2732H12.2574H12.2416H12.2258H12.2099H12.1941H12.1783H12.1625H12.1466H12.1308H12.115H12.0992H12.0833H12.0675H12.0517H12.0359H12.02H12.0042H11.9884H11.9726H11.9567H11.9409H11.9251H11.9093H11.8934H11.8776H11.8618H11.846H11.8301H11.8143H11.7985H11.7827H11.7668H11.751H11.7352H11.7194H11.7035H11.6877H11.6719H11.6561H11.6402H11.6244H11.6086H11.5928H11.5769H11.5611H11.5453H11.5295H11.5136H11.4978H11.482H11.4662H11.4503H11.4345H11.4187H11.4029H11.387H11.3712H11.3554H11.3396H11.3237H11.3079H11.2921H11.2763H11.2604H11.2446H11.2288H11.213H11.1971H11.1813H11.1655H11.1497H11.1338H11.118H11.1022H11.0864H11.0705H11.0547H11.0389H11.0231H11.0072H10.9914H10.9756H10.9598H10.9439H10.9281H10.9123H10.8965H10.8806H10.8648H10.849H10.8332H10.8173H10.8015H10.7857H10.7699H10.754H10.7382H10.7224H10.7066H10.6907H10.6749H10.6591H10.6433H10.6274H10.6116H10.5958H10.58H10.5641H10.5483H10.5325H10.5167H10.5008H10.485H10.4692H10.4534H10.4375H10.4217H10.4059H10.3901H10.3743H10.3584H10.3426H10.3268H10.311H10.2951H10.2793H10.2635H10.2477H10.2318H10.216H10.2002H10.1844H10.1685H10.1527H10.1369H10.1211H10.1052H10.0894H10.0736H10.0578H10.0419H10.0261H10.0103H9.99445H9.97863H9.9628H9.94698H9.93115H9.91533H9.8995H9.88368H9.86785H9.85203H9.8362H9.82038H9.80455H9.78873H9.7729H9.75708H9.74125H9.72543H9.7096H9.69378H9.67795H9.66213H9.6463H9.63048H9.61466H9.59883H9.58301H9.56718H9.55136H9.53553H9.51971H9.50388H9.48806H9.47223H9.45641H9.44058H9.42476H9.40893H9.39311H9.37728H9.36146H9.34563H9.32981H9.31398H9.29816H9.28233H9.26651H9.25068H9.23486H9.21903H9.20321H9.18738H9.17156H9.15573H9.13991H9.12408H9.10826H9.09243H9.07661H9.06078H9.04496H9.02913H9.01331H8.99748H8.98166H8.96583H8.95001H8.93418H8.91836H8.90253H8.88671H8.87088H8.85506H8.83923H8.82341H8.80759H8.79176H8.77594H8.76011H8.74429H8.72846H8.71264H8.69681H8.68099H8.66516H8.64934H8.63351H8.61769H8.60186H8.58604H8.57021H8.55439H8.53856H8.52274H8.50691H8.49109H8.47526H8.45944H8.44361H8.42779H8.41196H8.39614H8.38031H8.36449H8.34866H8.33284H8.31701H8.30119H8.28536H8.26954H8.25371H8.23789H8.22206H8.20624H8.19041H8.17459H8.15876H8.14294H8.12711H8.11129H8.09546H8.07964H8.06382H8.04799H8.03217H8.01634H8.00052H7.98469H7.96887H7.95304H7.93722H7.92139H7.90557H7.88974H7.87392H7.85809H7.84227H7.82644H7.81062H7.79479H7.77897H7.76314H7.74732H7.73149H7.71567H7.69984H7.68402H7.66819H7.65237H7.63654H7.62072H7.60489H7.58907H7.57324H7.55742H7.54159H7.52577H7.50994H7.49412H7.47829H7.46247H7.44664H7.43082H7.41499H7.39917H7.38334H7.36752H7.35169H7.33587H7.32004H7.30422H7.28839H7.27257H7.25675H7.24092H7.2251H7.20927H7.19345H7.17762H7.1618H7.14597H7.13015H7.11432H7.0985H7.08267H7.06685H7.05102H7.0352H7.01937H7.00355H6.98772H6.9719H6.95607H6.94025H6.92442H6.9086H6.89277H6.87695H6.86112H6.8453H6.82947H6.81365H6.79782H6.782H6.76617H6.75035H6.73452H6.7187H6.70287H6.68705H6.67122H6.6554H6.63957H6.62375H6.60792H6.5921H6.57627H6.56045H6.54462H6.5288H6.51297H6.49715H6.48133H6.4655H6.44968H6.43385H6.41803H6.4022H6.38638H6.37055H6.35473H6.3389H6.32308H6.30725H6.29143H6.2756H6.25978H6.24395H6.22813H6.2123H6.19648H6.18065H6.16483H6.149H6.13318H6.11735H6.10153H6.0857H6.06988H6.05405H6.03823H6.0224H6.00658H5.99075H5.97493H5.9591H5.94328H5.92745H5.91163H5.8958H5.87998H5.86415H5.84833H5.8325H5.81668H5.80085H5.78503C3.29975 5.5 1.28503 7.51472 1.28503 10V21C1.28503 23.4851 3.29882 25.5 5.78423 25.5H5.80291H5.82162H5.84035H5.85912H5.87791H5.89674H5.91559H5.93447H5.95337H5.97231H5.99127H6.01026H6.02928H6.04832H6.06739H6.08649H6.10562H6.12477H6.14395H6.16316H6.18239H6.20165H6.22094H6.24025H6.25959H6.27896H6.29835H6.31777H6.33721H6.35668H6.37617H6.39569H6.41524H6.43481H6.4544H6.47402H6.49367H6.51334H6.53303H6.55275H6.57249H6.59226H6.61205H6.63187H6.65171H6.67157H6.69146H6.71137H6.73131H6.75126H6.77125H6.79125H6.81128H6.83133H6.8514H6.8715H6.89162H6.91176H6.93193H6.95211H6.97232H6.99255H7.01281H7.03308H7.05338H7.0737H7.09404H7.1144H7.13478H7.15519H7.17561H7.19606H7.21652H7.23701H7.25752H7.27805H7.2986H7.31917H7.33976H7.36037H7.381H7.40165H7.42232H7.44301H7.46372H7.48445H7.5052H7.52596H7.54675H7.56755H7.58838H7.60922H7.63008H7.65096H7.67186H7.69278H7.71372H7.73467H7.75564H7.77663H7.79764H7.81866H7.83971H7.86077H7.88184H7.90294H7.92405H7.94518H7.96633H7.98749H8.00867H8.02986H8.05108H8.07231H8.09355H8.11481H8.13609H8.15738H8.17869H8.20002H8.22136H8.24271H8.26408H8.28547H8.30687H8.32829H8.34972H8.37117H8.39263H8.4141H8.43559H8.4571H8.47862H8.50015H8.5217H8.54326H8.56483H8.58642H8.60802H8.62964H8.65127H8.67291H8.69457H8.71624H8.73792H8.75961H8.78132H8.80304H8.82477H8.84652H8.86827H8.89004H8.91182H8.93362H8.95542H8.97724H8.99907H9.02091H9.04276H9.06462H9.08649H9.10838H9.13027H9.15218H9.1741H9.19602H9.21796H9.23991H9.26187H9.28384H9.30582H9.32781H9.34981H9.37182H9.39384H9.41586H9.4379H9.45995H9.482H9.50407H9.52614H9.54823H9.57032H9.59242H9.61453H9.63664H9.65877H9.6809H9.70304H9.72519H9.74735H9.76952H9.79169H9.81387H9.83606H9.85825H9.88046H9.90267H9.92488H9.94711H9.96934H9.99157H10.0138H10.0361H10.0583H10.0806H10.1029H10.1251H10.1474H10.1697H10.192H10.2143H10.2366H10.2589H10.2812H10.3035H10.3258H10.3482H10.3705H10.3928H10.4152H10.4375H10.4599H10.4822H10.5046H10.527H10.5493H10.5717H10.5941H10.6165H10.6388H10.6612H10.6836H10.706H10.7284H10.7508H10.7732H10.7956H10.818H10.8404H10.8628H10.8852H10.9076H10.9301H10.9525H10.9749H10.9973H11.0197H11.0422H11.0646H11.087H11.1094H11.1319H11.1543H11.1767H11.1992H11.2216H11.244H11.2665H11.2889H11.3113H11.3338H11.3562H11.3786H11.4011H11.4235H11.4459H11.4684H11.4908H11.5132H11.5356H11.5581H11.5805H11.6029H11.6253H11.6478H11.6702H11.6926H11.715H11.7374H11.7598H11.7823H11.8047H11.8271H11.8495H11.8719H11.8943H11.9167H11.9391H11.9614H11.9838H12.0062H12.0286H12.051H12.0733H12.0957H12.1181H12.1404H12.1628H12.1851H12.2075H12.2298H12.2522H12.2745H12.2968H12.3192H12.3415H12.3638H12.3861H12.4084H12.4307H12.453H12.4753H12.4976H12.5198H12.5421H12.5644H12.5866H12.6089H12.6311H12.6534H12.6756H12.6978H12.72H12.7423H12.7645H12.7867H12.8089H12.831H12.8532H12.8754H12.8975H12.9197H12.9418H12.964H12.9861H13.0082H13.0303H13.0524H13.0745H13.0966H13.1187H13.1408H13.1628H13.1849H13.2069H13.2289H13.251H13.273H13.295H13.317H13.3389H13.3609H13.3829H13.4048H13.4268H13.4487H13.4706H13.4925H13.5144H13.5363H13.5582H13.5801H13.6019H13.6238H13.6456H13.6674H13.6892H13.711H13.7328H13.7546H13.7763H13.7981H13.8198H13.8415H13.8632H13.8849H13.9066H13.9283H13.95H13.9716H13.9932H14.0149H14.0365H14.0581H14.0796H14.1012H14.1228H14.1443H14.1658H14.1873H14.2088H14.2303H14.2518H14.2732H14.2946H14.3161H14.3375H14.3589H14.3802H14.4016H14.4229H14.4443H14.4656H14.4869H14.5082H14.5294H14.5507H14.5719H14.5931H14.6143H14.6355H14.6567H14.6778H14.699H14.7201H14.7412H14.7623H14.7833H14.8044H14.8254H14.8464H14.8674H14.8884H14.9094H14.9303H14.9512H14.9721H14.993H15.0139H15.0347H15.0556H15.0764H15.0972H15.1179H15.1387H15.1594H15.1801H15.2008H15.2215H15.2422H15.2628H15.2834H15.304H15.3246H15.3451H15.3657H15.3862H15.4067H15.4272H15.4476H15.468H15.4884H15.5088H15.5292H15.5495H15.5699H15.5902H15.6105H15.6307H15.651H15.6712H15.6914H15.7115H15.7317H15.7518H15.7719H15.792H15.812H15.8321H15.8521H15.8721H15.892H15.912H15.9319H15.9518H15.9717H15.9915H16.0113H16.0311H16.0509H16.0707H16.0904H16.1101H16.1298H16.1494H16.169H16.1887H16.2082H16.2278H16.2473H16.2668H16.2863H16.3057H16.3252H16.3446H16.3639H16.3833H16.4026H16.4219H16.4412H16.4604H16.4796H16.4988H16.518H16.5371H16.5562H16.5753H16.5943H16.6134H16.6324H16.6513C19.1372 25.5 21.1475 23.4847 21.1475 21V13.2062V12.6527L20.5968 12.7088C20.5291 12.7157 20.4607 12.7192 20.3914 12.7192C19.4353 12.7192 18.613 12.0426 18.4288 11.1044C18.1722 9.79708 17.1423 8.77961 15.924 8.53471C14.9901 8.34697 14.3183 7.52658 14.3183 6.57394C14.3183 6.41509 14.3368 6.26952 14.3735 6.11691ZM6.86895 14.0702C6.86852 14.0705 6.86813 14.0708 6.86778 14.0711L6.86895 14.0702Z"
                  stroke="black"
                  stroke-opacity="-1.1"></path>
              </svg> Contact
            </button>
          </div>
        </div>
      </div>
      <div class="info">
        <img src="/images/current.svg" />
        <h1>Branching paths</h1>
        <p>
          Explore multiple <br /> Web UI.
        </p>
      </div>
      <div class="info dropping-items">
        <div>
          <img src="/images/current_2.svg" />
          <div>
            <h1>Just the webs you need</h1>
            <p>within modern-to-use interface</p>
          </div>
        </div>
        <div class="items">
          <button class="common-bg item">
            <div class="dotted-text blue">Webdesign</div>
          </button>
          <button class="common-bg item"> UI / UX </button>
          <button class="common-bg item">
            <div class="dotted-text purple">JPG</div>
            <div class="dotted-text orange">PNG</div>
            <div class="dotted-text blue">PDF</div>
          </button>
          <button class="common-bg item">
            <svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.35 12.178C24.3502 8.31197 21.2163 5.17782 17.3503 5.17763L8.0411 5.17715C4.17513 5.17695 1.04098 8.31078 1.04078 12.1768C1.04058 16.0427 4.17441 19.1769 8.04038 19.1771L17.3496 19.1775C21.2156 19.1777 24.3498 16.0439 24.35 12.178ZM17.4193 7.77577C19.8501 7.77589 21.8205 9.74652 21.8204 12.1773C21.8203 14.6081 19.8497 16.5785 17.4189 16.5783C14.9881 16.5782 13.0177 14.6076 13.0178 12.1768C13.0179 9.74607 14.9885 7.77564 17.4193 7.77577Z"
                fill="url(#paint0_linear_5019_8)"></path>
              <path
                d="M17.3503 5.67763C20.9402 5.67781 23.8502 8.58809 23.85 12.178C23.8498 15.7677 20.9395 18.6777 17.3496 18.6775L8.04041 18.6771C4.45058 18.6769 1.5406 15.7666 1.54078 12.1768C1.54096 8.58695 4.45125 5.67697 8.04107 5.67715L17.3503 5.67763ZM22.3204 12.1773C22.3205 9.47041 20.1263 7.27591 17.4193 7.27577C14.7124 7.27563 12.5179 9.46991 12.5178 12.1768C12.5176 14.8837 14.7119 17.0782 17.4188 17.0783C20.1258 17.0785 22.3202 14.8842 22.3204 12.1773Z"
                stroke="white"
                stroke-opacity="0.2"></path>
              <defs>
                <linearGradient
                  id="paint0_linear_5019_8"
                  x1="-2.7083"
                  y1="1.63761"
                  x2="10.0911"
                  y2="30.0554"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#F5F1FF"></stop>
                  <stop offset="1" stop-color="#6633EE"></stop>
                </linearGradient>
              </defs>
            </svg>
            <svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.4106 1.47743C18.3415 1.12561 18.0331 0.871851 17.6746 0.871833C17.3161 0.871815 17.0077 1.12554 16.9387 1.47736C16.5868 3.26946 15.1786 4.68721 13.4531 5.034C13.1028 5.10439 12.8509 5.41203 12.8509 5.76926C12.8508 6.12649 13.1027 6.43416 13.453 6.50458C15.1789 6.85164 16.5862 8.26747 16.9378 10.0592C17.0068 10.411 17.3152 10.6648 17.6737 10.6648C18.0322 10.6648 18.3406 10.4111 18.4097 10.0593C18.7614 8.26767 20.1693 6.8519 21.8953 6.50501C22.2455 6.43463 22.4975 6.12698 22.4976 5.76975C22.4976 5.41252 22.2456 5.10486 21.8954 5.03443C20.1699 4.68747 18.7622 3.26965 18.4106 1.47743ZM3.51768 8.39835C3.51771 7.84607 3.96545 7.39837 4.51774 7.3984L10.84 7.39882C11.3923 7.39885 11.8399 7.84659 11.8399 8.39887C11.8399 8.95116 11.3922 9.39885 10.8399 9.39882L4.51763 9.3984C3.96535 9.39837 3.51765 8.95064 3.51768 8.39835ZM4.51749 12.2421C3.9652 12.2421 3.51746 12.6899 3.51743 13.2421C3.51741 13.7944 3.9651 14.2421 4.51739 14.2421L21.284 14.2431C21.8363 14.2431 22.284 13.7954 22.2841 13.2431C22.2841 12.6909 21.8364 12.2431 21.2841 12.2431L4.51749 12.2421ZM3.51719 18.0898C3.51721 17.5375 3.96495 17.0898 4.51724 17.0898L21.2839 17.0908C21.8362 17.0908 22.2838 17.5385 22.2838 18.0908C22.2838 18.6431 21.8361 19.0908 21.2838 19.0908L4.51714 19.0898C3.96485 19.0898 3.51716 18.6421 3.51719 18.0898Z"
                fill="url(#paint0_linear_5019_10)"></path>
              <path
                d="M17.4293 1.57369L17.4293 1.57361C17.4523 1.4564 17.5551 1.37183 17.6746 1.37183C17.794 1.37184 17.8969 1.45642 17.9199 1.57377C18.3096 3.55976 19.8683 5.13683 21.7968 5.52461C21.9136 5.5481 21.9976 5.65068 21.9976 5.76972C21.9975 5.88878 21.9135 5.99135 21.7968 6.01481C19.8681 6.40244 18.3089 7.97718 17.9191 9.96297C17.896 10.0803 17.7932 10.1648 17.6737 10.1648C17.5542 10.1648 17.4515 10.0802 17.4285 9.96301L17.4285 9.96292C17.0388 7.97708 15.4802 6.40222 13.5516 6.01439L13.5516 6.01438C13.4348 5.99091 13.3508 5.8884 13.3509 5.76928C13.3509 5.65018 13.4348 5.54766 13.5516 5.5242L13.5516 5.5242C15.4801 5.1366 17.0394 3.55962 17.4293 1.57369ZM10.8399 7.89882L10.8399 7.89882C11.1161 7.89884 11.3399 8.1227 11.3399 8.39885C11.3399 8.675 11.116 8.89884 10.8399 8.89882L4.51767 8.8984C4.24151 8.89838 4.01767 8.67452 4.01768 8.39837C4.0177 8.12224 4.24156 7.89839 4.5177 7.8984C4.51771 7.8984 4.51771 7.8984 4.51771 7.8984L10.8399 7.89882ZM4.01743 13.2421C4.01745 12.966 4.24134 12.7421 4.51746 12.7421L21.2841 12.7431C21.5602 12.7431 21.7841 12.967 21.7841 13.2431C21.7841 13.5193 21.5602 13.7431 21.284 13.7431L4.51742 13.7421C4.24126 13.7421 4.01742 13.5182 4.01743 13.2421ZM4.01719 18.0898C4.0172 17.8136 4.24106 17.5898 4.51722 17.5898L21.2838 17.5908C21.56 17.5908 21.7838 17.8146 21.7838 18.0908C21.7838 18.367 21.56 18.5908 21.2838 18.5908L4.51717 18.5898C4.24101 18.5898 4.01717 18.3659 4.01719 18.0898Z"
                stroke="white"
                stroke-opacity="0.2"></path>
              <defs>
                <linearGradient
                  id="paint0_linear_5019_10"
                  x1="-1.85653"
                  y1="-4.95895"
                  x2="25.7809"
                  y2="28.5666"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#F5F1FF"></stop>
                  <stop offset="1" stop-color="#6633EE"></stop>
                </linearGradient>
              </defs>
            </svg>
          </button>
          <button class="trial-button item"> Development </button>
          <button class="gift item">
            <svg
              width="26"
              height="27"
              viewBox="0 0 26 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.1758 3.45185C14.7452 3.20321 14.2334 3.13583 13.753 3.26453C13.2727 3.39324 12.8632 3.70749 12.6145 4.13814C12.3659 4.5688 12.2985 5.08059 12.4272 5.56093C12.5559 6.04127 12.8702 6.4508 13.3008 6.69944L14.9246 7.63694L12.6746 11.5341L5.85467 7.59656C5.42401 7.34792 5.10976 6.93838 4.98105 6.45804C4.85235 5.97771 4.91973 5.46592 5.16837 5.03526L5.54337 4.38574C6.06137 3.48854 7.20833 3.18194 8.10467 3.69944L10.8699 5.29594C10.81 4.42737 11.088 3.56923 11.6459 2.90085C12.2039 2.23247 12.9985 1.80555 13.8638 1.70931C14.7291 1.61307 15.5981 1.85495 16.2893 2.3844C16.9804 2.91385 17.4402 3.68992 17.5726 4.55044C18.3841 4.23483 19.2861 4.245 20.0902 4.57883C20.8943 4.91266 21.5382 5.54432 21.8875 6.34182C22.2368 7.13932 22.2644 8.04095 21.9646 8.85832C21.6647 9.67569 21.0606 10.3456 20.2784 10.7279L23.6931 12.6994C24.5895 13.2169 24.8969 14.3644 24.3794 15.2607L24.0044 15.9103C23.4864 16.8075 22.3395 17.1141 21.4431 16.5966L13.9737 12.2841L16.2237 8.38694L17.8475 9.32444C18.1686 9.50986 18.5375 9.59588 18.9076 9.57163C19.2776 9.54738 19.6322 9.41393 19.9264 9.18818C20.2206 8.96243 20.4412 8.6545 20.5604 8.30334C20.6796 7.95218 20.692 7.57356 20.5961 7.21536C20.5001 6.85715 20.3 6.53546 20.0212 6.29094C19.7424 6.04643 19.3974 5.89009 19.0297 5.84169C18.662 5.79328 18.2883 5.85499 17.9557 6.01901C17.6231 6.18303 17.3466 6.44199 17.1612 6.76314L16.2237 8.38694L14.9246 7.63694L15.8621 6.01314C16.3801 5.11594 16.0722 3.96935 15.1758 3.45185ZM11.9246 12.8331L4.77991 8.70809L1.40491 14.5538C1.10654 15.0706 1.02568 15.6847 1.18013 16.2611C1.33458 16.8375 1.71167 17.329 2.22846 17.6273L7.42462 20.6273L11.9246 12.8331ZM13.2237 13.5831L8.72365 21.3773L14.5693 24.7523C15.0861 25.0507 15.7003 25.1315 16.2767 24.9771C16.8531 24.8227 17.3445 24.4456 17.6429 23.9288L21.0179 18.0831L13.2237 13.5831Z"
                fill="white"
                fill-opacity="0.9"></path>
              <path
                d="M12.4246 11.9671L12.8576 12.2171L13.1076 11.7841L15.1076 8.31995L15.5406 8.56995L13.5406 12.0341L13.2906 12.4671L13.7237 12.7171L21.1931 17.0296C22.3285 17.6851 23.7813 17.2968 24.4374 16.1603L24.8124 15.5107C25.468 14.3753 25.0786 12.922 23.9431 12.2664L21.238 10.7046C21.7761 10.2679 22.1916 9.69119 22.434 9.03053C22.7783 8.09207 22.7466 7.05686 22.3455 6.14122C21.9445 5.22557 21.2051 4.50034 20.2819 4.11705C19.536 3.8074 18.7168 3.74029 17.9384 3.91699C17.7022 3.15447 17.2344 2.47857 16.5933 1.98748C15.7998 1.37959 14.802 1.10188 13.8085 1.21238C12.815 1.32288 11.9027 1.81304 11.2621 2.58044C10.8111 3.12067 10.5194 3.76887 10.4102 4.45322L8.35467 3.26643C7.21933 2.61094 5.76651 2.99924 5.11036 4.13574L4.73536 4.78526C4.42041 5.33076 4.33507 5.97903 4.49809 6.58745C4.66112 7.19588 5.05917 7.71462 5.60467 8.02957L12.4246 11.9671ZM12.3576 13.0831L12.6076 12.6501L12.1746 12.4001L5.02991 8.27508L4.59689 8.02508L4.34689 8.45809L0.971894 14.3038C0.607221 14.9354 0.5084 15.686 0.697167 16.3905C0.885936 17.095 1.34683 17.6957 1.97846 18.0603L7.17462 21.0603L7.60763 21.3103L7.85763 20.8773L12.3576 13.0831ZM13.4737 13.1501L13.0406 12.9001L12.7906 13.3331L8.29064 21.1273L8.04064 21.5603L8.47365 21.8103L14.3193 25.1853C14.951 25.55 15.7016 25.6488 16.4061 25.4601C17.1106 25.2713 17.7112 24.8104 18.0759 24.1788L21.4509 18.3331L21.7009 17.9001L21.2679 17.6501L13.4737 13.1501ZM13.8824 3.7475C14.2347 3.65311 14.61 3.70252 14.9258 3.88486C15.5832 4.26438 15.8089 5.10524 15.4291 5.76314L14.7416 6.95393L13.5508 6.26643C13.235 6.08409 13.0046 5.78377 12.9102 5.43152C12.8158 5.07927 12.8652 4.70396 13.0475 4.38814C13.2299 4.07233 13.5302 3.84188 13.8824 3.7475ZM18.0975 8.89143L16.9067 8.20393L17.5942 7.01314C17.7301 6.77763 17.9329 6.58772 18.1768 6.46744C18.4207 6.34716 18.6948 6.30191 18.9644 6.33741C19.234 6.3729 19.4871 6.48756 19.6916 6.66686C19.896 6.84617 20.0427 7.08209 20.1131 7.34477C20.1835 7.60745 20.1744 7.88511 20.087 8.14262C19.9996 8.40014 19.8378 8.62595 19.622 8.79151C19.4062 8.95706 19.1462 9.05491 18.8749 9.0727C18.6035 9.09049 18.333 9.0274 18.0975 8.89143Z"
                stroke="black"
                stroke-opacity="0.1"></path>
            </svg>
          </button>
          <button class="camera item">
            <svg
              width="34"
              height="34"
              viewBox="0 0 34 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_2002_236)">
                <path
                  d="M15.2481 13.9657C14.5008 14.3972 13.9555 15.1078 13.7322 15.9413C13.5088 16.7748 13.6258 17.6629 14.0572 18.4102C14.4887 19.1575 15.1993 19.7028 16.0328 19.9261C16.8663 20.1495 17.7544 20.0326 18.5017 19.6011C19.249 19.1696 19.7943 18.459 20.0177 17.6255C20.241 16.792 20.1241 15.9039 19.6926 15.1566C19.2612 14.4093 18.5505 13.864 17.717 13.6407C16.8835 13.4173 15.9954 13.5342 15.2481 13.9657Z"
                  fill="white"
                  fill-opacity="0.9"></path>
                <path
                  d="M14.9981 13.5327C14.136 14.0304 13.5069 14.8503 13.2492 15.8119C12.9916 16.7735 13.1264 17.7981 13.6242 18.6602C14.122 19.5223 14.9418 20.1514 15.9034 20.4091C16.865 20.6668 17.8896 20.5319 18.7517 20.0341C19.6139 19.5364 20.243 18.7165 20.5006 17.7549C20.7583 16.7933 20.6234 15.7687 20.1256 14.9066C19.6279 14.0445 18.808 13.4154 17.8464 13.1577C16.8848 12.9 15.8603 13.0349 14.9981 13.5327Z"
                  stroke="black"
                  stroke-opacity="0.1"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.3356 7.07324C12.7558 7.87563 11.2201 8.76224 9.7353 9.72924C9.34042 9.98882 9.01439 10.3406 8.78382 10.7531C8.55326 11.1656 8.42546 11.6275 8.41123 12.0999L8.35685 13.6497C8.34727 13.8771 8.28802 14.0997 8.18329 14.3018C8.07855 14.5039 7.93085 14.6806 7.75057 14.8196C7.44465 15.0597 7.14159 15.3028 6.84277 15.5492C5.72212 16.4722 5.48569 18.0567 6.19369 19.283L10.4067 26.5801C10.8045 27.2692 11.4598 27.772 12.2283 27.9779C12.9969 28.1838 13.8157 28.076 14.5048 27.6782L27.4952 20.1782C28.1842 19.7804 28.687 19.1251 28.8929 18.3566C29.0989 17.588 28.9911 16.7692 28.5932 16.0801L24.3802 8.783C23.6722 7.55671 22.1818 6.96921 20.8222 7.47823C20.4593 7.61381 20.0973 7.75471 19.736 7.90095C19.2998 8.07542 18.819 8.05276 18.4197 7.84107L17.0502 7.11101C16.213 6.66486 15.1991 6.63477 14.3356 7.07324ZM11.8039 15.4247C11.4435 16.7696 11.6321 18.2027 12.3283 19.4085C13.0245 20.6143 14.1712 21.4942 15.5162 21.8546C16.8611 22.215 18.2941 22.0263 19.5 21.3301C20.7058 20.6339 21.5857 19.4872 21.9461 18.1423C22.3064 16.7974 22.1178 15.3643 21.4216 14.1585C20.7254 12.9527 19.5787 12.0728 18.2338 11.7124C16.8888 11.352 15.4558 11.5407 14.25 12.2369C13.0441 12.9331 12.1642 14.0798 11.8039 15.4247ZM22.0621 11.7679C22.5404 11.4918 22.7043 10.8802 22.4281 10.4019C22.152 9.9236 21.5404 9.75973 21.0621 10.0359C20.5838 10.312 20.42 10.9236 20.6961 11.4019C20.9722 11.8802 21.5838 12.0441 22.0621 11.7679Z"
                  fill="white"
                  fill-opacity="0.9"></path>
                <path
                  d="M14.1092 6.62744L14.1092 6.62742C15.1236 6.11232 16.3098 6.14989 17.2853 6.66975L17.2854 6.66979L18.6539 7.3993C18.654 7.39936 18.6541 7.39942 18.6542 7.39948C18.9185 7.53945 19.2449 7.55859 19.5494 7.43705C19.5497 7.43694 19.55 7.43682 19.5503 7.43671L19.736 7.90095C20.0973 7.75471 20.4593 7.61381 20.8222 7.47823L14.1092 6.62744ZM14.1092 6.62744C12.5134 7.43793 10.9622 8.33349 9.46243 9.31026L9.46243 9.31025L9.46064 9.31143C8.99807 9.61552 8.61678 10.0271 8.34737 10.5091C8.07785 10.9913 7.92835 11.5313 7.91149 12.0835C7.91148 12.0839 7.91147 12.0844 7.91145 12.0848L7.85723 13.6302C7.85051 13.7842 7.81028 13.9349 7.73936 14.0717C7.66819 14.2091 7.56784 14.3291 7.44533 14.4236L7.44532 14.4235L7.44184 14.4263C7.13325 14.6685 6.82712 14.9141 6.5249 15.1633C5.20617 16.2494 4.93671 18.1058 5.76068 19.533L9.97368 26.8301C10.4378 27.634 11.2023 28.2206 12.0989 28.4609C12.9955 28.7011 13.9509 28.5753 14.7548 28.1112L27.7452 20.6112C28.549 20.1471 29.1356 19.3826 29.3759 18.486C29.6161 17.5894 29.4904 16.634 29.0262 15.8301L24.8132 8.533C23.9893 7.10593 22.247 6.41107 20.6471 7.00986L14.1092 6.62744ZM12.7613 19.1585C12.1315 18.0675 11.9608 16.771 12.2868 15.5541C12.6129 14.3373 13.409 13.2998 14.5 12.6699C15.591 12.04 16.8875 11.8693 18.1044 12.1953C19.3212 12.5214 20.3587 13.3175 20.9886 14.4085C21.6185 15.4995 21.7892 16.796 21.4631 18.0129C21.1371 19.2297 20.341 20.2672 19.25 20.8971C18.159 21.527 16.8624 21.6977 15.6456 21.3716C14.4287 21.0456 13.3912 20.2495 12.7613 19.1585ZM21.9951 10.6519C22.1332 10.891 22.0513 11.1968 21.8121 11.3349C21.573 11.473 21.2672 11.391 21.1291 11.1519C20.991 10.9128 21.073 10.607 21.3121 10.4689C21.5513 10.3308 21.8571 10.4128 21.9951 10.6519Z"
                  stroke="black"
                  stroke-opacity="0.1"></path>
              </g>
              <defs>
                <clipPath id="clip0_2002_236">
                  <rect
                    width="24"
                    height="24"
                    fill="white"
                    transform="translate(0.607666 12.6077) rotate(-30)"></rect>
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
    </div>
  
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
</style>
