---
import "../scss/components/projects.scss"
---


<div class="container projects">
    <div>
        <div class="info first">

        </div>
        <div class="info second">

        </div>
        <div class="info third">

        </div>
    </div>
    <div>
        <div class="circle">
            <div class="edge first"></div>
            <div class="edge second"></div>
            <div class="edge third"></div>
            <div class="edge fourth"></div>
            <div class="edge fifth"></div>
            <div class="edge sixth"></div>
        </div>
        <div class="details first">
            <div class="info">

            </div>
            <div>
                <div class="info"></div>
                <div class="info"></div>
            </div>
        </div>
        <div class="details second">
            <div class="info"></div>
            <div class="info"></div>
        </div>
    </div>
    
</div>

