---
import FaLocationArrow from "svelte-icons/fa/FaLocationArrow.svelte";
import "../scss/components/service.scss";

interface Props {
  title: string;
  description: string;
  href: any;
}

const { title, description, href } = Astro.props;
---

<div class="service__section">
  <div class="content">
    <h2>{title}</h2>
    <p>{description}</p>
    <a {href}>View more</a>
  </div>
  <div class="images">
    <img style="width: 200px;" src="/images/po-35 1 (1).png" alt="images" />
  </div>
  <div class="icon">
    <FaLocationArrow />
  </div>
</div>
