---
import "../scss/components/title.scss";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<h1 class="title">{title} <br /><span>{subtitle}</span></h1>

<style></style>
