---
import Title from "../components/Title.astro"
import "../scss/sections/hero.scss"
---

<div class="hero">
	<div class="leftContent">
		<Title title="WE DEVELOP" subtitle="to MAXIMIZE"/>
	    <img src="/abstract-technology-hologram-sphere-sci-fi-neon-vector-30224600 1.png" alt="tech">
		<span class="blur"></span>
	</div>
	<div class="rightContent">
		<p>We are constantly rethinking the future by creating the next generation of products, brands and services from a hybrid perspective. </p>
		<Title title="YOUR BRAND" subtitle="to GROWTH"/>
	</div>
</div>