:root {
  --accent: 20, 95, 208, 0.5;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-blue: 306FEA;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

html {
  font-family: "Inter", sans-serif;
  background: #020915;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.btn-div {
  display: flex;
  justify-content: center;
}
/* button */
.button {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 12px 25px;
  display: flex;
  gap: 5px;
  background-color: rgb(27, 100, 184);
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  span {
    margin-left: 5px;
  }
  &:hover {
    background: #032557;
  }
}

a {
  text-decoration: none;
}
.text {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 430px;
    padding: 0px 20px;
  }
}
