:root {
  --accent: 222, 225, 208, 0.5;
  --accent-light: 50, 220, 255;
  --accent-dark: 49, 10, 101;
  --accent-blue: 306FEA;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    rgb(0, 175, 224) 30%
  );
}

html {
  font-family: "Inter", sans-serif;
  background: #020915;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.btn-div {
  display: flex;
  justify-content: center;
}
/* button */
.button {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 12px 25px;
  display: flex;
  gap: 5px;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
  span {
    margin-left: 5px;
  }
  &:hover {
    background: linear-gradient(90deg, #1f99d6 0%, rgba(20, 95, 208, 0.5) 100%);

    .icon {
      rotate: 0deg;
      transition: all 0.5s ease;
    }
  }
}

a {
  text-decoration: none;
}
.text {
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0px 20px;
    margin: 0 auto;
  }
}
