html {
  font-family: "Inter", sans-serif;
  background: #020915;
  scroll-behavior: smooth;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn-div {
  display: flex;
  justify-content: center;
}
/* button */
.button {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 12px 25px;
  display: flex;
  gap: 5px;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
  span {
    margin-left: 5px;
  }
  &:hover {
    background: linear-gradient(90deg, #1f99d6 0%, rgba(20, 95, 208, 0.5) 100%);

    .icon {
      rotate: 0deg;
      transition: all 0.5s ease;
    }
  }
}

a {
  text-decoration: none;
}
.text {
  color: #fff;
}

@mixin gradient-border(
  $radius: 1.5rem,
  $padding: 2px,
  $gradient: linear-gradient(135deg, #5e17ed, #f06056)
) {
  position: relative;
  border-radius: $radius;
  border: 2.5px solid transparent;
  background-clip: padding-box;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: $radius;
    padding: $padding;
    background: $gradient;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}
